.settings
.classpath
.project

*.iml
\jcommune\jcommune-service\target\
\jcommune\jcommune-model\target\
\jcommune\jcommune-view\jcommune-web-view\target\
\jcommune\jcommune-view\jcommune-web-controller\target\
!/jcommune/jcommune-model/src/main/java/
/jcommune/jcommune-model/target/
/jcommune/jcommune-model/catalog.xml
/jcommune/jcommune.ipr
/jcommune/jcommune.iws

/jcommune/jcommune-model/logs/
/jcommune/jcommune-service/logs/
/jcommune/jcommune-service/target/
/jcommune/jcommune-view/jcommune-web-controller/logs/
/jcommune/jcommune-view/jcommune-web-controller/target/
/jcommune/jcommune-view/jcommune-web-view/target/
/jcommune/functional-tests/target/

/poulpe/poulpe-model/logs/
/poulpe/poulpe-model/target/
/poulpe/poulpe-service/target/
/poulpe/poulpe-view/poulpe-web-controller/target/
/poulpe/poulpe-view/poulpe-web-view/target/
/poulpe/poulpe-view/target/
/poulpe/target/

