*.iml
\jcommune\jcommune-service\target\
\jcommune\jcommune-model\target\
\jcommune\jcommune-view\jcommune-web-view\target\
\jcommune\jcommune-view\jcommune-web-controller\target\
!/jcommune/jcommune-model/src/main/java/
/jcommune/jcommune-model/target/
/jcommune/jcommune-model/catalog.xml
/jcommune/jcommune.ipr
/jcommune/jcommune.iws
