.settings
.classpath
.project
.metadata

*.iml
/jtalks\jcommune\jcommune-service\target\
/jtalks\jcommune\jcommune-model\target\
/jtalks\jcommune\jcommune-view\jcommune-web-view\target\
/jtalks\jcommune\jcommune-view\jcommune-web-controller\target\
/jtalks!/jcommune/jcommune-model/src/main/java/
/jtalks/jcommune/jcommune-model/target/
/jtalks/jcommune/jcommune-model/catalog.xml
/jtalks/jcommune/jcommune.ipr
/jtalks/jcommune/jcommune.iws

/jtalks/jcommune/jcommune-model/logs/
/jtalks/jcommune/jcommune-service/logs/
/jtalks/jcommune/jcommune-service/target/
/jtalks/jcommune/jcommune-view/jcommune-web-controller/logs/
/jtalks/jcommune/jcommune-view/jcommune-web-controller/target/
/jtalks/jcommune/jcommune-view/jcommune-web-view/target/
/jtalks/jcommune/functional-tests/target/
