<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011  jtalks.org Team
    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.
    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.
    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
    Also add information on how to contact you by electronic and paper mail.
    Creation date: Apr 12, 2011 / 8:05:19 PM
    The jtalks.org Project

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

  <bean id="exceptionTranslationInterceptor"
        class="org.springframework.dao.support.PersistenceExceptionTranslationInterceptor"/>

  <!--Declaration of AOP Config -->
  <aop:config>
    <aop:advisor advice-ref="exceptionTranslationInterceptor"
                 pointcut="execution(* org.jtalks.common.model.dao.Dao+.* (*))"/>
  </aop:config>

  <!--Declaration of DAO beans -->
  <bean id="userDao"
        class="org.jtalks.common.model.dao.hibernate.UserHibernateDao"
        parent="abstractHibernateDao"/>

  <!--Injecting sessionFactory bean to class AbstractHibernateDao, this way
    resolves a problem of multiple DAO beans definition -->
  <bean id="abstractHibernateDao"
        class="org.jtalks.common.model.dao.hibernate.AbstractHibernateDao"
        abstract="true">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <!--Declaration and setting up datasource, sessionFactory and transactionalManager
    beans -->

  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${jdbc.driverClassName}"/>
    <property name="url" value="${jdbc.url}"/>
    <property name="username" value="${jdbc.username:root}"/>
    <property name="password" value="${jdbc.password:root}"/>
  </bean>
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="mappingResources">
      <list>
        <value>/org/jtalks/common/model/entity/User.hbm.xml</value>
      </list>
    </property>
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</prop>
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        <prop key="hibernate.connection.charset">${encoding}</prop>
        <prop key="hibernate.connection.provider_class">${hibernate.connection.provider_class}</prop>
        <prop key="hibernate.connection.release_mode">auto</prop>
      </props>
    </property>
  </bean>
  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:/org/jtalks/common/model/datasource.properties"/>
  </bean>
</beans>
