<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (C) 2011  JTalks.org Team
    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.
    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.
    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- Appenders -->
  <appender name="BULK" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${catalina.home}/logs/jcommune-bulk.log"/>
    <param name="Append" value="true"/>
    <param name="DatePattern" value=".yyyy-MM-dd"/>
    <param name="Encoding" value="UTF-8"/>
    <layout class="org.apache.log4j.EnhancedPatternLayout">
      <!--The username is set by MDC feature in a web filter-->
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p][%-16.16t][%X{userName}][%30c] - %m%n"/>
    </layout>
  </appender>

  <appender name="APPLICATION" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${catalina.home}/logs/jcommune-application.log"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="10"/>
    <param name="Encoding" value="UTF-8"/>
    <layout class="org.apache.log4j.EnhancedPatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p][%-16.16t][%X{userName}][%30c{-2}] - %m%n"/>
    </layout>
  </appender>
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Encoding" value="UTF-8"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p][%-16.16t][%X{userName}][%36.60c] - %m%n"/>
    </layout>
  </appender>


  <!-- Loggers -->
  <logger name="org.jtalks">
    <level value="DEBUG"/>
    <appender-ref ref="APPLICATION"/>
  </logger>

  <logger name="org.springframework" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="BULK"/>
  </logger>

  <logger name="org.hibernate" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="BULK"/>
  </logger>

  <logger name="net.sf.ehcache">
    <level value="WARN"/>
    <appender-ref ref="BULK"/>
  </logger>
  <logger name="org.jtalks.hibernate4.spring.fix" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="BULK"/>
  </logger>
  <root>
    <priority value="INFO"/>
    <appender-ref ref="BULK"/>
    <appender-ref ref="CONSOLE"/>
  </root>

</log4j:configuration>