.review-form-container {
    margin: 0 0 0 10px;
    background-color: rgba(79, 177, 157, 0.34);
}

.review-form-body {
    white-space: normal;
    margin: 0 10px 0 10px;
    overflow: auto;
}

.review-form-content {
    width: 100%;
    resize: vertical;
    background-color: #F7EBCC;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.review-form-controls-container {
    float: left;
}

.review-form-controls-ok {
    min-width: 100px;
}

.review-form-controls-cancel {
    min-width: 100px;
    margin-left: 10px;
}

.review-form-error-container {
    float: left;
}

.review-form-error-text {
    color: red;
}

.review-comment-container {
    white-space: normal;
    margin-left: 10px;
}

.review-comment-content {
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow: auto;
}

.review-comment-content-author {
    padding: 10px;
    background-color: #D8E5DD;
    background-image: -webkit-linear-gradient(#F4FAF6, #D8E5DD);
    background-image: -moz-linear-gradient(#F4FAF6, #D8E5DD);
    background-image: linear-gradient(#F4FAF6, #D8E5DD)
}

.review-comment-content-text {
    padding: 0 10px 10px 10px;
    background-color: #FFFFE7;
}