.editorWYSIWYG {
    /* font: 10pt Tahoma;
 border-bottom: 1px solid #b2b2b2;*/
}

.editorBBCODE {
    /*font: 9pt "Courier New";*/
}

div.richeditor div.editbar {
    margin-top: 5px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    border-bottom: none;
}

div.richeditor div button {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    background-color: Transparent;
    cursor: pointer;
    color: Black;
    background-position: center;
    background-repeat: no-repeat;
    background-image: none;
}

div.richeditor div button:hover {
    border: 1px solid silver;
}

div.richeditor div.container {
    border-top: none;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

div.richeditor textarea {
    padding: 0px 0px 0px 0px;
    border: none;
}

div.richeditor iframe {
    background-color: #ffffff;
    border: none;
}

.leftText {
    text-align: left;
}

.rightText {
    text-align: right;
}

.centerText {
    text-align: center;
}

.highlight {
    background-color: silver;
}

.textSize10 {
    font-size: 14pt;
}

.textSize15 {
    font-size: 22pt;
}

.textSize20 {
    font-size: 33pt;
}

.marginLeft15 {
    margin-left: 15px;
}

.marginLeft20 {
    margin-left: 20px;
}

.marginLeft25 {
    margin-left: 25px;
}

.quote {
    margin: 10px 50px;
}

.quote div {
    float: left;
    padding: 5px;
    -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid grey;
    border-bottom: none;
    background: #c6c6c6;
}

.quote blockquote {
    clear: both;
    padding: 5px;
    background: white;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    line-height: 1.2;
}

.code {
    border: 1px #5f9ea0 solid;
}

.list {
    list-style: disc outside;
    margin-left: 50px;
}

.list li {
    padding: 3px 0;
}

.offtop {
    margin: 10px;
    font-size: 11px;
}

.offtop div {
    float: left;
    padding: 5px 5px 0 10px;
}

.offtop p {
    clear: both;
    padding: 5px;
    color: #8e8e8e;
}

.thumbnail {
    max-width: 100px;
    max-width: 100px;
}