
/** Here are placed styles that were inline (the highest priority) */
@CHARSET "UTF-8";

.back-btn {
    font-weight: bold;
}

#topics-table .forum-posts-view-header {
    width: 30px;
}

#topics-table .forum-latest-by-header {
    font-size: 11px;
}

.forum-user-stats-container {
    min-height: 10px; 
    padding: 5px;
}

.forum-sections-userstats-container {
    min-height: 10px; 
    padding: 5px; 
    margin: 0px;
}

.inline-block {
     display: inline-block;
}

input.form-check-radio-box[type="checkbox"], 
input.form-check-radio-box[type="radio"] 
{
    float: left; 
    margin-right: 10px;
}

.form-login-related {
    max-width: 480px;
}

.forum-pagination-container {
     line-height: 36px; 
     margin-bottom:10px;
}

.forum-pagination {
    margin: 0px;
}

.post-btn-toolbar {
    display:inline-block; 
    margin:0px; 
    line-height: 9px;
}

.post-content-tr {
    vertical-align: top;
}

.post-userinfo-username {
    font-size: 14pt;
}

.post-userinfo-avatal {
    width:105px; 
    height: 105px;
    margin-top:3px;
}

.table .post-content-td {
    vertical-align: top;
}

.forum-sections-header {
	margin:0;
}

.logo-text {
	font-family: 'Carter One', cursive;
}

.forum-sections-header-actions {
	display:inline-block; 
	vertical-align:middle; 
	text-align: right;
}

.forum-sections-recent-unanswered {
	font-weight: bold;  
	padding-left: 2px; 
	color: rgb(85, 85, 85)
}

.rss-icon {
	vertical-align:middle;
}

.forum-sections-branch-description-container {
	font-style: italic; 
	font-size: 12px; 
	white-space:nowrap;
}

.forum-sections-moderators-container {
	style="font-size: 11px
}

.forum-sections-stats-container {
	min-height: 10px; 
	padding: 5px; 
	margin: 0px; 
	margin-bottom: 5px;
}

/** BBeditor styles */
.bb_quote_title {
	font-size: 11px; 
	font-style:italic;
}

.bb_quote_container {
	margin: 5px 10px 5px 5px; 
}

.bb_quote_content {
	background-color: rgb(242,243,239); 
	border: 1px solid rgb(205,206,198); 
	padding: 0 4px 0 4px;
}