html {
    height: 100%;
    background: url(../images/pattern.jpg);
}

body {
    width: 100%;
    height: 100%;
    background: url(../images/bg_cup.png) no-repeat top right;
    font: 12px Georgia, Arial, sans-serif;
}

h1 {
    position: absolute;
    left: 120px;
    top: 70px;
    font: 60px Georgia;
}

h2 {
    display: inline;
}

.wrap {
    position: relative;
    width: 96%;
    max-width: 1600px;
    min-width: 900px;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: -90px;
    padding: 0 2%;
}

/* Header */
.top_line {
    position: relative;
    height: 23px;
    margin: 0 30px;
    padding: 14px 20px 0;
    background: black url(../images/top_line.jpg) repeat-x;
    border-bottom: 1px solid #393328;
    color: white;
    line-height: 0.8;
    -webkit-border-radius: 0 0 7px 7px/0 0 15px 15px;
    -moz-border-radius: 0 0 7px 7px/0 0 15px 15px;
    border-radius: 0 0 7px 7px/0 0 15px 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.top_line a {
    color: white;
}

.top_line a:hover {
    color: #cdcdcd;
}

.top_menu {
    position: absolute;
    right: 20px;
    top: 14px;
}

.top_menu li {
    float: left;
    padding: 0 5px;
    border-left: 1px solid white;
}

li.flag {
    position: relative;
    top: -2px;
}

li.no_border {
    border: none;
}

span.version {
    text-align: left
}

/* Forums */
.all_forums {
    margin: 140px 0 0;
    color: black;
}

.all_forums a, .arrow {
    color: black;
}

.all_forums a:hover {
    color: #535353;
}

.forums_list + .forum_misc_info {
    margin-top: 5px;
}

.branch_page .forum_top_right_link {
    padding: 0;
}

.heading {
    font-size: 25px;
    text-decoration: none;
    white-space: pre-wrap;
}

a.heading:hover {
    text-decoration: underline;
}

/*Forum Header */
.forum_header_table {
    z-index: 3;
    clear: both;
    position: relative;
    display: table;
    table-layout: fixed;
    margin: 0 -2px;
    border-bottom: 1px solid #686868;
    border-left: 1px solid #686868;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
}

.forum_top_right_link + .forum_header_table {
    margin-top: 2px;
}

.forum_header {
    display: table-row;
    height: 27px;
    background: black url(../images/forum_header_line.jpg) repeat-x;
    color: #cdcdcd;
}

.forum_header a {
    color: #cdcdcd;
}

.forum_header a:hover {
    color: white;
}

.forum_header h3, .forum_header_topics {
    display: table-cell;
    width: 100%;
    padding: 0 40px;
    vertical-align: middle;
}

.forum_header_themes,
.forum_header_icon,
.forum_header_messages,
.forum_header_last_message,
.forum_header_answers,
.forum_header_clicks,
.forum_header_author,
.forum_header_userinfo,
.forum_header_topic,
.forum_header_answer,
.forum_header_generic {
    display: table-cell;
    min-width: 90px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
}

.forum_header_last_message {
    min-width: 150px;
    padding-right: 3px;
}

.forum_header_icon {
    min-width: 30px;
}

.forum_header_topic,
.forum_header_answer,
.forum_header_generic {
    width: 100%;
}

.forum_header_date {
    min-width: 180px;
    padding: 0 10px 0 8px;
}

.forum_header_userinfo {
    min-width: 160px;
    padding-left: 14px;
}

/* Forum Info&Buttons */
.forum_info_top, .forum_info_bottom {
    display: table;
    width: 100%;
}

.forum_top_right_link {
    position: relative;
    top: 5px;
}

.main_page .forum_top_right_link {
    float: right;
    top: 0;
}

.forum_misc_info {
    display: block;
    position: relative;
    top: -3px;
    font-size: 11px;
}

.forum_info_top .button, .forum_info_bottom .button {
    margin: 0;
    padding: 3px;
    font-size: 12px;
    font-weight: normal;
}

/*.info_top_lower .button {
    position: relative;
    top: -3px;
}*/

/*.forum_info_bottom .button {
    position: relative;
    top: -5px;
} */

.user_posts_page .forum_info_bottom .button {
    position: relative;
    top: 2px;
}

.forum_info_top div, .forum_info_bottom div { /* all divs */
    display: table-cell;
    vertical-align: bottom;
    /* border: 1px solid black; */
}

.forum_info_top > div, .forum_info_bottom > div { /* all rows */
    display: table-row;
}

.forum_info_top > div div, .forum_info_bottom > div div { /* all cells */
    height: 30px;
}

.forum_info_bottom div {
    vertical-align: top;
}

.forum_info_bottom div:first-child {
    padding-top: 2px;
}

.forum_info_bottom .breadcrumbs {
    top: 1px;
}

.forum_info_top .breadcrumbs {
    top: 1px;
}

.forum_info_top > div:first-child { /* top row */
    height: 50px;
    font-size: 11px;
    vertical-align: middle;
    text-align: right;
    padding-bottom: 5px;
}

.info_top_lower > div { /* bottom row cells */
    text-align: right;
}

.forum_info_top > div:first-child > div:first-child { /* top-left cell */
    text-align: left;
}

.forum_info_bottom > div:first-child > div:first-child {
    vertical-align: top;
}

.info_top_lower > div:first-child { /* bottom left cell */
    vertical-align: middle;
    text-align: left;
}

.nav_top, .nav_bottom {
    float: right;
    margin-left: 10px;
}

.info_top_lower_right .button {
    position: relative;
    top: -2px;
}

/* Forum Main Table */
.forum_table, .registration {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #3e3e3e;
    line-height: 1;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
}

.forum_table a {
    color: black;
    font-weight: bold;
}

.forum_table a:hover {
    color: #535353;
}

.forum_table p {
    padding-top: 5px;
}

.forum_table {
    position: relative;
    z-index: 2;
}

/* Forum Row*/
.forum_row {
    display: table-row;
    min-width: 100%;
    background: #c6c6c6;
}

.topic_page .forum_row {
    height: 180px;
}

.forum_row:nth-child(even) {
    background: #efefef;
}

.forum_row:nth-child(even) .forum_userinfo,
.forum_row:nth-child(even) .forum_answer_left {
    background: #d3d9e0;
}

.forum_row:nth-child(even) .forum_message_cell,
.forum_row:nth-child(even) .forum_answer_right {
    background: #e6e9ed;
}

/* Forum Cells */
.forum_icon,
.forum_info,
.forum_themes,
.forum_messages,
.forum_last_message,
.forum_answers,
.forum_author,
.forum_clicks,
.forum_userinfo,
.forum_message_cell,
.forum_answer_left,
.forum_answer_right,
.userdetails_page li label,
.userdetails_page li span {
    display: table-cell;
    padding: 0;
    border-bottom: 1px solid #b2b2b2;
    vertical-align: middle;
    text-align: center;
}

/* Forum Cells - Main */
.forum_icon {
    width: 30px;
    padding: 5px;
    padding-right: 0;
}

.forum_info {
    width: 100%;
    padding: 5px;
    text-align: left;
}

.forum_link {
    line-height: 1.2;
}

a.moderator {
    font-style: italic;
    font-weight: normal;
}

.forum_messages, .forum_clicks, .forum_header_messages, .forum_header_clicks {
    width: 90px;
    min-width: 90px;
}

.forum_themes, .forum_header_themes {
    width: 40px;
    min-width: 40px;
}

.forum_last_message {
    width: 150px;
}

a.last_message_user {
    font-weight: normal;
}

.forum_answers, .forum_header_answers {
    width: 90px;
    min-width: 90px;
}

.forum_author, .forum_header_author {
    width: 100px;
    min-width: 100px;
}

.forum_userinfo {
    width: 160px;
    padding: 10px;
    background: #c6c6c6;
    vertical-align: top;
}

.forum_message_cell {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    padding-top: 0;
    padding-left: 0;
    background: #efefef;
    text-align: left;
    vertical-align: top;
}

.forum_message_cell_text {
    padding-top: 5px;
    padding-left: 10px;
    word-wrap: break-word;
    line-height: 1.2;
}

.post_details, .signature {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #b2b2b2;
    font-size: 11px;
}

.signature {
    margin-top: 10px;
    border-bottom: none;
    color: #8e8e8e;
    word-wrap: break-word
}

.user_misc_info {
    padding-top: 5px;
    text-align: left;
    font-size: 11px;
}

.user_info {
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
}

.status {
    font-size: 11px;
    font-weight: bold;
}

.avatar {
    padding-top: 5px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.username {
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
    color: black;
}

.button {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), -1px 0 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), -1px 0 2px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), -1px 0 2px rgba(0, 0, 0, 0.7);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c6c6c6), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #c6c6c6 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c6c6c6', endColorstr = '#dfdfdf');
    background-color: #c6c6c6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #262626;
    font-family: Georgia, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #c6c6c6));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #c6c6c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dfdfdf', endColorstr = '#c6c6c6');
    background-color: #dfdfdf;
}

.button:active {
    position: relative;
    top: 1px;
}

.all_forums a.button {
    color: #262626;
}

.post_details .button {
    float: right;
    margin: 0;
    margin-left: 5px;
    padding: 1px;
}

.top_button {
    margin: 0 0 5px;
}

.sticky {
    font-weight: bold;
}

.userdetails_page li label,
.userdetails_page li span {
    width: 50%;
    padding: 5px;
}

.userdetails_page li span {
    border-left: 1px solid grey;
}

.userdetails_page li span input {
    max-width: 95%;
}

/* Answer Form & Buttons */
.forum_header_menu {
    display: table-cell;
    padding: 0 10px;
    border-right: 1px solid #b2b2b2;
    vertical-align: middle;
    text-align: center;
    line-height: 0.8;
    text-decoration: none;
}

.forum_header_menu:hover {
    background: url(../images/hover_bg.jpg) repeat-x;
}

a.highlight_tab {
    background: url(../images/active_bg.jpg) repeat-x;
    color: white;
}

.pm_page .empty_cell {
    width: 100%;
}

.answer_page .forum_misc_info,
.pm_page .forum_misc_info {
    margin-bottom: 20px;
}

.forum_answer_left {
    width: 160px;
    border-right: 1px solid #b2b2b2;
    font-weight: bold;
    padding: 10px;
    background: #e0e0e0;
}

.forum_answer_right {
    width: 100%;
    padding: 5px;
    background: #efefef;
}

.formatting_buttons .button {
    margin: 3px;
    margin-top: 0;
    margin-bottom: 5px;
}

.answer_page .button,
.pm_page .button {
    border: 1px solid grey;
!important

}

.answer_page .button:active,
.pm_page .button:active {
    background: #FEAEAE;
}

a.disabled {
    background-color: #8b8b8b;
    color: #b8b8b8;
}

.options {
    text-align: left;
}

.align-top {
    vertical-align: top;
}

#body {
    display: block;
    width: 95%;
    margin: 5px auto;
}

#format_i {
    font-style: italic;
}

#format_u, #format_url {
    text-decoration: underline;
}

#helpline {
    font-size: 11px;
    margin: 5px;
}

#title, #recipient, #subject {
    width: 95%;
}

/* Registration & Login */
/*.registration_page h1, .login_page h1 {
    left: 40%;
}*/

.registration_page .forum_table, .login_page .forum_table {
    margin: 0 auto;
    width: auto;
}

.registration_page .forum_header_table, .login_page .forum_header_table {
    width: 824px;
    margin: 0 auto;
}

.registration_page .forum_table label,
.registration_page .forum_row div,
.login_page .forum_table label,
.login_page .forum_row div,
.reg_info {
    display: block;
    width: 800px;
    padding: 5px 10px;
    border-bottom: 1px solid #b2b2b2;
    vertical-align: middle;
}

.registration_page .forum_table label,
.login_page .forum_table label {
    width: 125px;
    font-weight: bold;
}

.registration_page .forum_row,
.login_page .forum_row {
    display: table-row;
}

.reg_input {
    width: 99%;
    font-size: 3em;
}

.reg_info {
    font-size: 11px;
}

.registration_page button, .login_page button {
    margin: 10px 0;
}

input[type='checkbox'] {
    vertical-align: sub;
}

/* Users Numbers */
.users_information {
    margin-top: 20px;
}

.users_information .forum_info {
    padding-left: 40px;
    min-width: 100%;
}

.users_information .forum_info p {
    padding: 0;
    margin: 0;
}

.users_list, .users_list li {
    display: inline;
}

.admin, a.admin {
    color: #c4a68e;
}

.moderator, a.moderator {
    color: #72809f;
}

a.user {
    color: #3e3e3e;
}

a.admin, a.user {
    font-weight: normal;
    font-style: italic;
}

/* Footer */
.footer {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    color: black;
}

.footer_buffer {
    height: 90px;
}

.copyright {
    text-align: center;
}

.copyright a {
    color: black;
}

.copyright a:hover {
    color: #535353;
}

/* User details */
.userdetails_page .forum_header_table {
    width: 600px;
    margin: 0 auto;
}

.userdetails_page .forum_table {
    width: 598px;
    margin: 0 auto;
}

.userdetails_page table {
    margin: 5px auto;
}

.userdetails_page td {
    vertical-align: middle;
}

.userdetails_page label {
    font-weight: bold;
}

.userdetails_page .error {
    font-size: 11px;
    border: none;
}

#removeAvatarForm td {
    padding: 5px;
    padding-bottom: 0;
    vertical-align: middle;
}

/* private messaging*/

/* pagination*/
.page {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 5px 0 0;
    float: left;
    background: #c6c6c6;
    min-width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

span.page {
    background: white;
}

a.page:hover {
    background: #E6E6E6;
}

.nav_bottom .page {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

/* Various error pages (404, 500 and so on) */
.text_errorpage {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    font-family: Georgia, Arial, sans-serif;
}

.text_errorpage h1 {
    font-size: 5em;
    position: static;
    font-family: Georgia, Arial, sans-serif;
}

.error_errorpage {
    font-size: 0.6em;
}

/*Breadcrumbs*/
.breadcrumbs {
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    overflow: hidden;
}

.breadcrumbs li{
    float: left;
}

.breadcrumbs a{
    padding: 4px .6em 4px 1.6em;
    float: left;
    text-decoration: none;
    color: #444;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #ddd;
    background-image: linear-gradient(to right, #f5f5f5, #ddd);
}

.breadcrumbs li:first-child a{
    padding-left: 1em;
    border-radius: 2px 0 0 2px;
}

.breadcrumbs a:hover{
    background: #fff;
}

.breadcrumbs a::after,
.breadcrumbs a::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

.breadcrumbs a::after{
    z-index: 2;
    border-left-color: #ddd;
}

.breadcrumbs a::before{
    border-left-color: #b8b8b8;
    right: -1.1em;
    z-index: 1;
}

.breadcrumbs a:hover::after{
    border-left-color: #fff;
}

.breadcrumbs .current,
.breadcrumbs .current:hover{
    font-weight: bold;
    background: none;
}

.breadcrumbs .current::after,
.breadcrumbs .current::before{
    content: normal;
}

/* Edit Profile Page */
.avatar td {
    text-align: center;
}

.avatar tr {
    height: 40px;
}

.avatar .button {
    margin: 5px;
}

td.button_cell {
    vertical-align: baseline;
}

.avatar img {
    margin-right: 10px;
}

#removeAvatar {
    margin-top: 5px;
    margin-bottom: 22px;
}

#upload {
    margin-top: 22px;
}

.break_word {
    word-wrap: break-word;
}

/* Private messages */
.messages{
    width:100%;
}

.c1 {
    width:45%;
}

.c2{
    width:25%;
}

.c3{
    width:5%;
}

.messages th{
    font-weight:bold;
    text-align:center;
    padding: 5px 10px;
    background:#c0c0c0;
}

.messages tr.read td{
    font-weight:normal;
    font-size:10pt;
}

.messages td{
    border-bottom: 1px solid #696969;
    border-right: 1px solid #696969;
    text-align:center;
    font-weight:bold;
    font-size:11pt;
    padding:5px 10px;
}

.messages tr.head{
    font-size: 0.8em;
}

.messages td.title{
    text-align:left;
    font-size:11pt;
}

.messages td.checker{
    border-right:1px solid #ffffff;
}

.check td, .check td a{
    background: #FA8072;
    color:#D3D3D3;
}

.del {
    padding-left:25px;
    padding-top:5px;
    color:#696969;
    font-size:12pt;
    width:100px;
    height:60px;
}

.del input{
    float:left;
    position:relative;
}

/* Various */
.empty_cell {
    display: table-cell;
    min-width: 1px;
}

.form_controls {
    padding-top: 5px;
    text-align: center;
}

.error {
    color: #FF0000;
}

.striked {
    text-decoration: line-through;
}