html {
    height: 100%;
    background: url(../images/pattern.jpg);
}

body {
    width: 100%;
    height: 100%;
    background: url(../images/bg_cup.png) no-repeat top right;
    font: 12px Georgia, Arial, sans-serif;
}

h1 {
    position: absolute;
    left: 120px;
    top: 70px;
    font: 60px Georgia;
}

h2 {
    display: inline;
}

.wrap {
    position: relative;
    width: 96%;
    max-width: 1600px;
    min-width: 900px;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: -90px;
    padding: 0 2%;
}

/* Header */
.top_line {
    position: relative;
    height: 23px;
    margin: 0 30px;
    padding: 14px 20px 0;
    background: black url(../images/top_line.jpg) repeat-x;
    border-bottom: 1px solid #393328;
    color: white;
    line-height: 0.8;
    -webkit-border-radius: 0 0 7px 7px/0 0 15px 15px;
    -moz-border-radius: 0 0 7px 7px/0 0 15px 15px;
    border-radius: 0 0 7px 7px/0 0 15px 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.top_line a {
    color: white;
}

.top_line a:hover {
    color: #cdcdcd;
}

.top_menu {
    position: absolute;
    right: 20px;
    top: 14px;
}

.top_menu li {
    float: left;
    padding: 0 5px;
    border-left: 1px solid white;
}

li.flag {
    position: relative;
    top: -2px;
}

li.no_border {
    border: none;
}

span.version {
    text-align: left
}

/* Forums */
.all_forums {
    margin: 140px 0 0;
    color: black;
}

.all_forums a, .arrow {
    color: black;
}

.all_forums a:hover {
    color: #535353;
}

.forum_misc_info {
    font-size: 11px;
    margin-bottom: 5px;
}

.forums_list + .forum_misc_info {
    margin-top: 5px;
}

.forum_top_right_link {
    float: right;
    padding-top: 5px;
}

.main_page .forum_top_right_link,
.section_page .forum_top_right_link {
    position: relative;
    top: 48px;
    padding: 0;
}

.branch_page .forum_top_right_link {
    padding: 0;
}

.heading {
    font-size: 25px;
    text-decoration: none;
    white-space: pre-wrap;
}

a.heading:hover {
    text-decoration: underline;
}

.nav_top {
    float: right;
}

.nav_bottom {
    float: right;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 11px;
}

/*Forum Header */
.forum_header_table {
    z-index: 2;
    position: relative;
    display: table;
    table-layout: fixed;
    margin: 0 -2px;
    border-bottom: 1px solid #686868;
    border-left: 1px solid #686868;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
}

.forum_top_right_link + .forum_header_table {
    margin-top: 2px;
}

.forum_header {
    display: table-row;
    height: 27px;
    background: black url(../images/forum_header_line.jpg) repeat-x;
    color: #cdcdcd;
}

.forum_header a {
    color: #cdcdcd;
}

.forum_header a:hover {
    color: white;
}

.forum_header h3, .forum_header_topics {
    display: table-cell;
    width: 100%;
    padding: 0 40px;
    vertical-align: middle;
}

.forum_header_themes,
.forum_header_icon,
.forum_header_messages,
.forum_header_last_message,
.forum_header_answers,
.forum_header_clicks,
.forum_header_author,
.forum_header_userinfo,
.forum_header_topic,
.forum_header_answer,
.forum_header_generic {
    display: table-cell;
    min-width: 90px;
    padding: 0 5px 0 0;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
}

.forum_header_last_message {
    min-width: 130px;
}

.forum_header_icon {
    min-width: 30px;
}

.forum_header_topic,
.forum_header_answer,
.forum_header_generic {
    width: 100%;
}

.forum_header_date {
    min-width: 180px;
    padding: 0 10px 0 8px;
}

.forum_header_userinfo {
    min-width: 160px;
    padding-left: 14px;
}

/* Forum Main Table */
.forum_table, .registration {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #3e3e3e;
    line-height: 1;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
}

.forum_table a {
    color: black;
    font-weight: bold;
}

.forum_table a:hover {
    color: #535353;
}

.forum_table p {
    padding-top: 5px;
}

/* Forum Row*/
.forum_row {
    display: table-row;
    min-width: 100%;
    background: #c6c6c6;
}

.forum_row:nth-child(even) {
    background: #efefef;
}

.forum_row:nth-child(even) .forum_userinfo,
.forum_row:nth-child(even) .forum_answer_left {
    background: #d3d9e0;
}

.forum_row:nth-child(even) .forum_message_cell,
.forum_row:nth-child(even) .forum_answer_right {
    background: #e6e9ed;
}

/* Forum Cells */
.forum_icon,
.forum_info,
.forum_themes,
.forum_messages,
.forum_last_message,
.forum_answers,
.forum_author,
.forum_clicks,
.forum_userinfo,
.forum_message_cell,
.forum_answer_left,
.forum_answer_right,
.userdetails_page li label,
.userdetails_page li span {
    display: table-cell;
    padding: 0 5px 0 0;
    border-bottom: 1px solid #b2b2b2;
    vertical-align: middle;
    text-align: center;
}

/* Forum Cells - Main */
.forum_icon {
    width: 30px;
    padding: 5px;
    padding-right: 0;
}

.forum_info {
    width: 100%;
    padding: 5px;
    text-align: left;
}

.forum_link {
    line-height: 1.2;
}

a.moderator {
    font-style: italic;
    font-weight: normal;
}

.forum_messages, .forum_clicks, .forum_header_messages, .forum_header_clicks {
    width: 65px;
    min-width: 65px;
}

.forum_themes, .forum_header_themes {
    width: 35px;
    min-width: 35px;
}

.forum_last_message {
    width: 130px;
    padding: 0 3px 0 0;
}

a.last_message_user {
    font-weight: normal;
}

.forum_answers, .forum_header_answers {
    width: 50px;
    min-width: 50px;
}

.forum_author, .forum_header_author {
    width: 100px;
    min-width: 100px;
}

.forum_userinfo {
    width: 160px;
    padding: 10px;
    background: #c6c6c6;
    vertical-align: top;
}

.forum_message_cell {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    padding-top: 0;
    padding-left: 0;
    background: #efefef;
    text-align: left;
    vertical-align: top;
}

.forum_message_cell_text {
	padding-top: 5px;
    padding-left: 10px;
    word-wrap: break-word;
    line-height: 1.2;
}

.post_details, .signature {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #b2b2b2;
    font-size: 11px;
}

.signature {
    margin-top: 10px;
    border-bottom: none;
    color: #8e8e8e;
    word-wrap: break-word
}

.user_misc_info {
    padding-top: 5px;
    text-align: left;
    font-size: 11px;
}

.user_info {
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
}

.status {
    font-size: 11px;
}

.avatar {
    padding-top: 5px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.username {
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
    color: black;
}

.button {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    background: #c6c6c6;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.post_details .button {
    float: right;
    margin: 0;
    margin-left: 5px;
    padding: 1px;
}

.top_button {
    margin: 0 0 5px;
}

.sticky {
    font-weight: bold;
}

.userdetails_page li label,
.userdetails_page li span {
    width: 50%;
    padding: 5px;
}

.userdetails_page li span {
    border-left: 1px solid grey;
}

.userdetails_page li span input {
	max-width: 95%;
}

/* Answer Form & Buttons */
.forum_header_menu {
    display: table-cell;
    padding: 0 10px;
    border-right: 1px solid #b2b2b2;
    vertical-align: middle;
    text-align: center;
    line-height: 0.8;
    text-decoration: none;
}

.forum_header_menu:hover {
    background: url(../images/hover_bg.jpg) repeat-x;
}

a.highlight_tab {
    background: url(../images/active_bg.jpg) repeat-x;
    color: white;
}

.pm_page .empty_cell {
    width: 100%;
}

.answer_page .forum_misc_info,
.pm_page .forum_misc_info {
    margin-bottom: 20px;
}

.forum_answer_left {
    width: 160px;
    border-right: 1px solid #b2b2b2;
    font-weight: bold;
    padding: 10px;
    background: #e0e0e0;
}

.forum_answer_right {
    width: 100%;
    padding: 5px;
    background: #efefef;
}

.formatting_buttons .button {
    margin: 3px;
    margin-top: 0;
    margin-bottom: 5px;
}

.answer_page .button,
.pm_page .button {
    border: 1px solid grey;
!important

}

.answer_page .button:active,
.pm_page .button:active {
    background: #FEAEAE;
}

a.disabled {
    background-color: #8b8b8b;
    color: #b8b8b8;
}

.options {
    text-align: left;
}

.align-top {
    vertical-align: top;
}

#body {
    display: block;
    width: 95%;
    margin: 5px auto;
}

#format_i {
    font-style: italic;
}

#format_u, #format_url {
    text-decoration: underline;
}

#helpline {
    font-size: 11px;
    margin: 5px;
}

#title, #recipient, #subject {
    width: 95%;
}

/* Registration & Login */
/*.registration_page h1, .login_page h1 {
    left: 40%;
}*/

.registration_page .forum_table, .login_page .forum_table {
    margin: 0 auto;
    width: auto;
}

.registration_page .forum_header_table, .login_page .forum_header_table {
    width: 824px;
    margin: 0 auto;
}

.registration_page .forum_table label,
.registration_page .forum_row div,
.login_page .forum_table label,
.login_page .forum_row div,
.reg_info {
    display: block;
    width: 800px;
    padding: 5px 10px;
    border-bottom: 1px solid #b2b2b2;
    vertical-align: middle;
}

.registration_page .forum_table label,
.login_page .forum_table label {
    width: 125px;
    font-weight: bold;
}

.registration_page .forum_row,
.login_page .forum_row {
    display: table-row;
}

.reg_input {
    width: 99%;
    font-size: 3em;
}

.reg_info {
    font-size: 11px;
}

.registration_page button, .login_page button {
    margin: 10px 0;
}

input[type='checkbox'] {
    vertical-align: sub;
}

/* Users Numbers */
.users_information {
    margin-top: 20px;
}

.users_information .forum_info {
    padding-left: 40px;
    min-width: 100%;
}

.users_information .forum_info p {
    padding: 0;
    margin: 0;
}

.users_list, .users_list li {
    display: inline;
}

.admin, a.admin {
    color: #c4a68e;
}

.moderator, a.moderator {
    color: #72809f;
}

a.user {
    color: #3e3e3e;
}

a.admin, a.user {
    font-weight: normal;
    font-style: italic;
}

/* Footer */
.footer {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    color: black;
}

.footer_buffer {
    height: 90px;
}

.copyright {
    text-align: center;
}

.copyright a {
    color: black;
}

.copyright a:hover {
    color: #535353;
}

/* User details */
.userdetails_page .forum_header_table {
    width: 600px;
    margin: 0 auto;
}

.userdetails_page .forum_table {
    width: 598px;
    margin: 0 auto;
}

.userdetails_page table {
    margin: 5px auto;
}

.userdetails_page td {
    vertical-align: middle;
}

.userdetails_page label {
    font-weight: bold;
}

.userdetails_page .error {
    font-size: 11px;
    border: none;
}

#removeAvatarForm td {
    padding: 5px;
    padding-bottom: 0;
    vertical-align: middle;
}

/* pagination*/
.page {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 5px 10px;
    float: left;
    background: white;
    min-width: 12px;
    height: 12px;
    line-height: 12px;
    display: block;
    text-align: center;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
}

span.page {
    background: #c6c6c6;
}

a.page:hover {
    background: #c6c6c6;
}

/* Various error pages (404, 500 and so on) */
.text_errorpage {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    font-family: Georgia, Arial, sans-serif;
}

.text_errorpage h1 {
    font-size: 5em;
    position: static;
    font-family: Georgia, Arial, sans-serif;
}

.error_errorpage {
    font-size: 0.6em;
}

/* Various */
.empty_cell {
    display: table-cell;
    min-width: 1px;
}

.form_controls {
    padding-top: 5px;
    text-align: center;
}

.error {
    color: #FF0000;
}

.elipsis {
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
}