<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:config>
        <aop:pointcut id="defaultTxPointcut" expression="within(org.jtalks.jcommune.service.transactional..*)"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="defaultTxPointcut"/>
    </aop:config>

    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="get*" rollback-for="java.lang.Exception" read-only="true"/>
            <tx:method name="save*" rollback-for="java.lang.Exception"/>
            <tx:method name="delete*" rollback-for="java.lang.Exception"/>
        </tx:attributes>
    </tx:advice>

    <bean id="userService" class="org.jtalks.jcommune.service.UserTrasactionlUserService">
        <constructor-arg ref="userDao"/>
    </bean>
    
    <bean id="postService" class="org.jtalks.jcommune.service.UserTrasactionlPostService">
        <constructor-arg ref="userDao"/>
    </bean>
    
    <bean id="topicService" class="org.jtalks.jcommune.service.UserTrasactionlTopicService">
        <constructor-arg ref="userDao"/>
    </bean>
    
</beans>