<div class='control-group'>
  <div class='controls captcha-images'>
    <img id='captcha-img' alt='Captcha' src='http://localhost:8080/plugin/{captchaPluginId}/refreshCaptcha'/>
    <img id='captcha-refresh' alt='Refresh captcha' src='http://localhost:8080/resources/images/captcha-refresh.png'/>
  </div>
  <div class='controls'><input type='text' id='captcha' placeholder='Captcha' class='input-xlarge'/></div>
</div>