/*
Contains specific styles for English locale, used mostly to handle
different labels length in different languages.
*/

#topics-table .posts-views {
    font-size: 11px;
    width: 107px;
}

#topics-table .author-col {
    font-size: 11px;
    width: 93px;
}
