#*

Copyright (C) 2011  JTalks.org Team
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.
This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

*#
#macro(jtalksBinding $result $path)
  ##works through magic
  #if($result.hasFieldErrors($path))
    <span id="${path}.errors" class="help-inline" name="${path}.errors" type="text">
      $result.getFieldError($path).getDefaultMessage()
    </span>
  #end
#end

#macro(bbeditor $labelForAction $back $postText $bodyParameterName $showSubmitButton $placeholder $result)
  <div class="btn-toolbar hide-on-preview">
    <div class="btn-group">
      <a id="format_b" class="btn" accesskey="b" href="#fake"
         title="<jcommune:message>label.answer.bold</jcommune:message>">
        <i class="icon-bold"></i>
      </a>
      <a id="format_i" class="btn" accesskey="i" href="#fake"
         title="<jcommune:message>label.answer.italic</jcommune:message>">
        <i class="icon-italic"></i>
      </a>
      <a id="format_u" class="btn" accesskey="u" href="#fake"
         title="<jcommune:message>label.answer.underline</jcommune:message>">
        <i class="icon-underline"></i>
      </a>
      <a id="format_s" class="btn" accesskey="s" href="#fake"
         title="<jcommune:message>label.answer.striked</jcommune:message>">
        <i class="icon-strike"></i>
      </a>
      <a id="format_highlight" class="btn" accesskey="h" href="#fake"
         title="<jcommune:message>label.answer.highlight</jcommune:message>">
      <jcommune:message>label.answer.highlight.button</jcommune:message>
      </a>
    </div>
    <div class='btn-group'>
      <a id="format_left" class="btn" href="#fake"
         title="<jcommune:message>label.answer.align_left</jcommune:message>">
        <i class="icon-align-left"></i>
      </a>
      <a id="format_center" class="btn" accesskey="c" href="#fake"
         title="<jcommune:message>label.answer.align_center</jcommune:message>">
        <i class="icon-align-center"></i>
      </a>
      <a id="format_right" class="btn" href="#fake"
         title="<jcommune:message>label.answer.align_right</jcommune:message>">
        <i class="icon-align-right"></i>
      </a>
    </div>
    <div class='btn-group'>
      <a id="format_list" class="btn" accesskey="l" href="#fake"
         title="<jcommune:message>label.answer.list</jcommune:message>">
        <i class="icon-list"></i>
      </a>
      <a id="format_listeq" class="btn" accesskey="o" href="#fake"
         title="<jcommune:message>label.answer.list_item</jcommune:message>">
        <i class="icon-add-row"></i>
      </a>
    </div>
    <div class='btn-group'>
      <a id="select_color" class="btn" href="#fake"
         title="<jcommune:message>label.answer.font_color</jcommune:message>">
        <i class="icon-palette"></i>
      </a>
      <span id="colorpicker201" class="colorpicker201"></span>

      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#fake"
         title="<jcommune:message>label.answer.font_size</jcommune:message>">
        <i class="icon-text-height"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" id='select_size'>
        <li data-value='7'><a href="#fake"><jcommune:message>label.answer.font_size.tiny</jcommune:message></a></li>
        <li data-value='9'><a href="#fake"><jcommune:message>label.answer.font_size.small</jcommune:message></a></li>
        <li data-value='12'><a href="#fake"><jcommune:message>label.answer.font_size.normal</jcommune:message></a></li>
        <li data-value='18'><a href="#fake"><jcommune:message>label.answer.font_size.large</jcommune:message></a></li>
        <li data-value='24'><a href="#fake"><jcommune:message>label.answer.font_size.huge</jcommune:message></a></li>
      </ul>
    </div>
    <div class='btn-group'>
      <a id="format_img" class="btn" accesskey="p" href="#fake"
         title="<jcommune:message>label.answer.insert_picture</jcommune:message>">
        <i class="icon-picture"></i>
      </a>
      <a id="format_url" class="btn" accesskey="w" href="#fake"
         title="<jcommune:message>label.answer.insert_link</jcommune:message>">
        <i class="icon-link"></i>
      </a>

      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#fake"
              title="<jcommune:message>label.answer.font_code</jcommune:message>">
        <jcommune:message>label.answer.font_code.button</jcommune:message>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" id='select_code'>
        <li data-value="cpp"><a href="#fake">C/C++</a></li>
        <li data-value="csharp"><a href="#fake">C#</a></li>
        <li data-value="java"><a href="#fake">Java</a></li>
        <li data-value="php"><a href="#fake">PHP</a></li>
        <li data-value="python"><a href="#fake">Python</a></li>
        <li data-value="pascal"><a href="#fake">Pascal</a></li>
        <li data-value="bash"><a href="#fake">Bash</a></li>
        <li data-value="js"><a href="#fake">JavaScript</a></li>
        <li data-value="html"><a href="#fake">HTML</a></li>
        <li data-value="css"><a href="#fake">CSS</a></li>
        <li data-value="sql"><a href="#fake">SQL</a></li>
        <li data-value="xml"><a href="#fake">XML</a></li>
      </ul>

      <a id="format_quote" class="btn" accesskey="q" href="#fake"
        title="<jcommune:message>label.answer.quote</jcommune:message>">
        <i class="icon-quote"></i>
      </a>
    </div>
    <div class='btn-group'>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#fake"
         title="<jcommune:message>label.answer.indent</jcommune:message>">
        <jcommune:message>label.answer.indent.button</jcommune:message>
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" id='select_indent'>
        <li data-value="15"><a href="#fake">15</a></li>
        <li data-value="20"><a href="#fake">20</a></li>
        <li data-value="25"><a href="#fake">25</a></li>
      </ul>
    </div>
  </div>
  <div class='control-group controls'>
    <div id="editorBbCodeDiv">
      <pre id="htmlContent"></pre>
      <textarea id="postBody" name="${bodyParameterName}" tabindex="200" style="width:100%;height: 350px"
                placeholder="$placeholder" class="script-confirm-unsaved">$postText</textarea>
    </div>
    <span class="keymaps-caption pull-left"><jcommune:message>label.keymaps.post</jcommune:message></span>
    <div class="cleared"></div>
    #jtalksBinding($result ${bodyParameterName})
  </div>
  <input id="post" type="submit" class="btn btn-primary" accesskey="s" name="post" tabindex="300"
        value="<jcommune:message>$labelForAction</jcommune:message>"/>
  <input id="preview" type="button" class="btn btn-success space-left-medium-nf" name="preview" tabindex="400"
        value="<jcommune:message>label.answer.preview</jcommune:message>"
        onclick="togglePreviewMode(new Array('posts', 'topics'));return null;"/>
  <script type="text/javascript">
    initEditor("postBody", "editorBbCodeDiv", "htmlContent");
  </script>

#end