#*

Copyright (C) 2011  JTalks.org Team
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.
This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

*#
#macro(topicActions $targetId $request $topic $permissionTool)
<div class="row-fluid upper-pagination forum-pagination-container">
  <div class="span3">
    #if($permissionTool.hasPermission($targedId.longValue(),"BRANCH","BranchPermission.MOVE_TOPICS"))
      <a href="#" class="move_topic btn space-left-medium-nf"
         title="<jcommune:message>label.topic.move.full</jcommune:message>"
         data-topicId="${topic.id}">
          <jcommune:message>label.topic.move</jcommune:message>
      </a>
    #end
    #if($permissionTool.hasPermission($targedId.longValue(),"BRANCH","BranchPermission.CLOSE_TOPICS"))
      #if(!$topic.codeReview)
        #if($topic.closed)
          #if(!$topic.plugable)
            <a href="$request.contextPath/topics/$topic.id/open"
          #else
            <a href="$request.contextPath/topics/$topic.type.toLowerCase()/$topic.id/open"
          #end
            title="<jcommune:message>label.tips.open</jcommune:message>"
            class="open_topic btn space-left-medium-nf">
              <jcommune:message>label.topic.open</jcommune:message>
          </a>
        #else
          #if(!$topic.plugable)
            <a href="$request.contextPath/topics/$topic.id/close"
          #else
            <a href="$request.contextPath/topics/$topic.type.toLowerCase()/$topic.id/close"
          #end
            title="<jcommune:message>label.tips.close</jcommune:message>"
            class="open_topic btn space-left-medium-nf">
              <jcommune:message>label.topic.close</jcommune:message>
          </a>
        #end
      #end
    #end
  </div>
</div>
#end