li {
    list-style: none;
}

.background {
    margin: 2px 2px 10px;
    color: #000;
    background-color: #eaeff4;
}

.textlogo1 {
    font-size: 30px;
    font-family: verdana, arial, sans-serif
}

.textlogo1 {
    color: #003366
}

.header {
    font-family: arial, helvetica, sans-serif
}

.header {
    font-size: 20px
}

.header {
    font-weight: bold
}

.header {
    color: #000
}

.header2 {
    font-family: arial, helvetica, sans-serif
}

.header2 {
    font-size: 14px
}

.header2 {
    font-weight: bold
}

.header2 {
    color: #003366
}

.background a:link {
    color: #003366
}

.background a:visited {
    color: #006699
}

.background a:hover {
    color: #f30
}

.background a:link {
    text-decoration: none
}

.background a:visited {
    text-decoration: none
}

.background a:hover {
    text-decoration: none
}

.nav {
    font-family: arial, helvetica, sans-serif
}

.nav {
    font-size: 12px
}

.nav {
    font-weight: bold
}

.navbutton {
    border: 1px solid #eaeff4;
    border-right-color: #003366;
    border-bottom-color: #036;
    padding: 1px;
    font-weight: bold;
    font-size: 10px;
    margin: 2px;
    color: #036;
    font-family: verdana, arial, sans-serif;
    background-color: #eaeff4
}

.text {
    font-family: arial, helvetica, sans-serif
}

.text {
    font-size: 12px
}

.content A:link {
    color: #003366
}

.content A:visited {
    color: #006699
}

.content A:hover {
    color: #f30
}

.content A:link {
    text-decoration: underline
}

.content A:visited {
    text-decoration: underline
}

.content A:hover {
    text-decoration: underline
}

.content {
    margin: 2px 2px 10px;
    color: #000;
    background-color: #fff;
}

HR {
    color: #003366
}

/*--------------------------------------------------------------*/
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

p, h1, form, button {
    border: 0;
    margin: 0;
    padding: 0;
}

.spacer {
    clear: both;
    height: 1px;
}

/* ----------- Registration form  ----------- */
.registration {
    margin: 0 auto;
    width: 400px;
    padding: 14px;
}

/* ----------- stylized ----------- */
#stylized {
    border: solid 2px #b7ddf2;
    background: #ebf4fb;
}

#stylized h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

#stylized p {
    font-size: 11px;
    color: #666666;
    margin-bottom: 20px;
    border-bottom: solid 1px #b7ddf2;
    padding-bottom: 10px;
}

#stylized label {
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
    clear: both;
}

#stylized .small {
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}

#stylized .error {
    color: #e43131;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    width: 200px;
    float: right;
    margin: -16px 50px 5px 0;
}

#stylized input {
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 20px 10px;
}

#stylized textarea {
    clear: both;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 20px 10px;
}

#stylized button {
    clear: both;
    margin-left: 150px;
    width: 125px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    color: #33ffff;
    background-color: #0f6096;
    font-size: 11px;
    font-weight: bold;
}

/* Pagination */
#pagination {
    border-top: 1px solid #DDDDDD;
    clear: both;
    margin: 10px 0 0.5em;
    padding: 1.5em 0 1em;
    text-align: center;
}

#pagination a {
    background: none repeat scroll 0 0 white;
    border: 1px solid #999999;
    text-decoration: none;
}

#pagination a:hover {
    background: none repeat scroll 0 0 #C6C6F3;
    color: white;
}

#pagination a, #pagination span {
    padding: 0.3em 0.5em;
}

#pagination a.pn {
    border: 1px solid #FFFFFF;
}

#pagination a.pn b {
    font-weight: normal;
}

#pagination a.pn:hover {
    border: 1px solid #999999;
}

#pagination p {
    color: #999999;
}

#userdetails ul, #userdetails li {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

#userdetails li {
    clear: both;
    list-style: none;
    padding-bottom: 10px;
}

#userdetails span {
    float: left;
}

#userdetails label {
    width: 140px;
    float: left;
}

/*Copy link*/
.link A:link {
    text-decoration: none
}

.link A:visited {
    text-decoration: none
}

.link A:hover {
    text-decoration: none
}
/*---*/
#posts {
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#posts table {
    width: 100%;
    border: 7px solid #FFE6C7;
    background-color: #FFF1C7;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.39, rgb(255, 247, 222)), color-stop(1, rgb(250, 250, 250)));
    background-image: -moz-linear-gradient(center bottom, rgb(255, 247, 222) 39%, rgb(250, 250, 250) 100%);

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

#posts td {
    height: 100px;
    border: 1px solid #B9B19B;
}

#posts table table {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#posts table table td {
    border: 0;
    border-bottom: 1px solid #9898B0;
}

#posts a {
    color: #836d4d;
    text-decoration: underline;
}

#posts a:hover {
    text-decoration: none;
}

#posts .link {
    height: 15px;
}

#posts .link a {
    float: right;
}

#posts .buttons {
    height: 35px;
    border: 0;
}

#posts .text {
    vertical-align: top;
    padding: 10px;
}

#posts .author {
    width: 20%;
    vertical-align: top;
    padding: 10px;
}

#posts .oce-first {
    background: #fff2e3;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.61, rgb(255, 242, 227)), color-stop(1, rgb(255, 255, 255)));
    background-image: -moz-linear-gradient(center bottom, rgb(255, 242, 227) 61%, rgb(255, 255, 255) 100%);
}

#posts table th {
    background-color: #fce6cd;
    font-weight: normal;
}

.coolbutton {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: -moz-linear-gradient(19% 75% 90deg, #F0DEB8, #FDF0D1, #fff 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F0DEB8), color-stop(.3, #FDF0D1));
    color: #836d4d;
    float: left;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 30px;
    border: 1px solid #d4c198;
}
.coolbutton:hover{
    background: -moz-linear-gradient(19% 75% 90deg,#EBD9B4, #F2E6C8, #F5F5F5 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#EBD9B4), color-stop(.3,#F2E6C8));
}

#buttons {
    margin-top: 15px;
}

#buttons a {
    margin: 0 3px;
}

/* Answer form*/
#answer {
    width: 600px;
    margin: 0 auto;
    border: 7px solid #FFE6C7;
    background-color: #FFF1C7;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.39, rgb(255, 247, 222)), color-stop(1, rgb(250, 250, 250)));
    background-image: -moz-linear-gradient(center bottom, rgb(255, 247, 222) 39%, rgb(250, 250, 250) 100%);

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

#answer #error {
    width: 50%;
    margin: auto;
    padding-top: 5px;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: #ff3300;
    text-align: center;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
}

#answer .clear {
    clear: both;
}

#answer button {
    margin-top: 10px;
    float: none;
}

#answer form div {
    width: 90%;
    margin: 0 auto;
}

#answer textarea {
    width: 100%;
    min-height: 300px;
    height: 300px;
    border: 3px solid #a3a03b;
    border-radius: 6px;
    background-color: #fffff2;
}

#answer h2 {
    color: #545225;
    text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
    font-weight:bold;
}

#answer label {
    font-weight: bold;
    font-style: italic;
}