<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


  <!-- Declaration AOP configs -->
  <aop:config>
    <aop:pointcut id="defaultTxPointcut"
                  expression="within(org.jtalks.antarcticle.service.transactional..*)"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="defaultTxPointcut"/>
  </aop:config>

  <tx:advice id="txAdvice">
    <tx:attributes>
      <tx:method name="*" rollback-for="java.lang.Exception"/>
    </tx:attributes>
  </tx:advice>

  <!--Decalaration services bean -->

  <bean id="articleService"
        class="org.jtalks.antarcticle.service.transactional.TransactionalArticleService">
    <constructor-arg index="0" ref="articleDao"/>
  </bean>

  <bean id="articleCollectionService"
        class="org.jtalks.antarcticle.service.transactional.TransactionalArticleCollectionService">
    <constructor-arg index="0" ref="articleCollectionDao"/>
  </bean>

  <bean id="commentService"
        class="org.jtalks.jcommune.service.transactional.TransactionalBranchService">
    <constructor-arg index="0" ref="commentDao"/>
  </bean>


</beans>
