.background {
    MARGIN: 2px 2px 10px;
    COLOR: #000;
    BACKGROUND-COLOR: #eaeff4;
}

.textlogo1 {
    FONT-SIZE: 30px;
    FONT-FAMILY: verdana, arial, sans-serif
}

.textlogo1 {
    color: #003366
}

.header {
    FONT-FAMILY: arial, helvetica, sans-serif
}

.header {
    FONT-SIZE: 20px
}

.header {
    FONT-WEIGHT: bold
}

.header {
    COLOR: #000
}

.header2 {
    FONT-FAMILY: arial, helvetica, sans-serif
}

.header2 {
    FONT-SIZE: 14px
}

.header2 {
    FONT-WEIGHT: bold
}

.header2 {
    COLOR: #003366
}

.background A:link {
    COLOR: #003366
}

.background A:visited {
    COLOR: #006699
}

.background A:hover {
    COLOR: #f30
}

.background A:link {
    TEXT-DECORATION: none
}

.background A:visited {
    TEXT-DECORATION: none
}

.background A:hover {
    TEXT-DECORATION: none
}

.nav {
    FONT-FAMILY: arial, helvetica, sans-serif
}

.nav {
    FONT-SIZE: 12px
}

.nav {
    FONT-WEIGHT: bold
}

.navbutton {
    BORDER-RIGHT: #003366 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #eaeff4 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 1px;
    MARGIN: 2px;
    BORDER-LEFT: #eaeff4 1px solid;
    COLOR: #036;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #036 1px solid;
    FONT-FAMILY: verdana, arial, sans-serif;
    BACKGROUND-COLOR: #eaeff4
}

.text {
    FONT-FAMILY: arial, helvetica, sans-serif
}

.text {
    FONT-SIZE: 12px
}

.content A:link {
    COLOR: #003366
}

.content A:visited {
    COLOR: #006699
}

.content A:hover {
    COLOR: #f30
}

.content A:link {
    TEXT-DECORATION: underline
}

.content A:visited {
    TEXT-DECORATION: underline
}

.content A:hover {
    TEXT-DECORATION: underline
}

.content {
    MARGIN: 2px 2px 10px;
    COLOR: #000;
    BACKGROUND-COLOR: #fff;
}

HR {
    color: #003366
}
/*--------------------------------------------------------------*/
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

p, h1, form, button {
    border: 0;
    margin: 0;
    padding: 0;
}

.spacer {
    clear: both;
    height: 1px;
}

/* ----------- Registration form  ----------- */
.registration {
    margin: 0 auto;
    width: 400px;
    padding: 14px;
}

/* ----------- stylized ----------- */
#stylized {
    border: solid 2px #b7ddf2;
    background: #ebf4fb;
}

#stylized h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

#stylized p {
    font-size: 11px;
    color: #666666;
    margin-bottom: 20px;
    border-bottom: solid 1px #b7ddf2;
    padding-bottom: 10px;
}

#stylized label {
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
    clear:both;
}

#stylized .small {
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}

#stylized .error {
    color: #e43131;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    width: 200px;
    float:right;
    margin: -16px 50px 5px 0;
}

#stylized input {
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 20px 10px;
}

#stylized button {
    clear: both;
    margin-left: 150px;
    width: 125px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    color: #33ffff;
    background-color: #0f6096;
    font-size: 11px;
    font-weight: bold;
}