.background{
	MARGIN: 2px 2px 10px; COLOR: #000;  BACKGROUND-COLOR: #eaeff4; 
}
.textlogo1 {
	FONT-SIZE: 30px; FONT-FAMILY:      verdana, arial, sans-serif
}
.textlogo1{color: #003366
}

.header {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.header {
	FONT-SIZE: 20px
}
.header {
	FONT-WEIGHT: bold
}
.header {
	COLOR: #000
}
.header2 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.header2 {
	FONT-SIZE: 14px
}
.header2 {
	FONT-WEIGHT: bold
}
.header2 {
	COLOR: #003366
}
.background A:link {
	COLOR: #003366
}
.background A:visited {
	COLOR: #006699
}
.background A:hover {
	COLOR: #f30
}
.background A:link {
	TEXT-DECORATION: none
}
.background A:visited {
	TEXT-DECORATION: none
}
.background A:hover {
	TEXT-DECORATION: none
}
.nav {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.nav {
	FONT-SIZE: 12px
}
.nav {
	FONT-WEIGHT: bold
}
.navbutton {
	BORDER-RIGHT: #003366 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #eaeff4 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT:
    bold; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; MARGIN: 2px; BORDER-LEFT: #eaeff4 1px solid; COLOR: #036; PADDING-TOP:
    1px; BORDER-BOTTOM: #036 1px solid; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #eaeff4
}
.text {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.text {
	FONT-SIZE: 12px
}


.content A:link {
	COLOR: #003366
}
.content A:visited {
	COLOR: #006699
}
.content A:hover {
	COLOR: #f30
}
.content A:link {
	TEXT-DECORATION: underline
}
.content A:visited {
	TEXT-DECORATION: underline
}
.content A:hover {
	TEXT-DECORATION: underline
}
.content{
	MARGIN: 2px 2px 10px; COLOR: #000;  BACKGROUND-COLOR: #fff; 
}

HR {color:#003366}