#*

Copyright (C) 2011  JTalks.org Team
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.
This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

*#
#macro(comments $post)
  #set($shownComments = 3)
  #if($post.comments.size() > 0)
    <div class="comment-list">
      #foreach($comment in $post.comments)
        #set($commentClass = "")
        #if($velocityCount != $post.comments.size() && $post.comments.size() != 0)
          #set($commentClass = "bordered")
        #end
        #if($velocityCount == $shownComments)
          #set($commentClass = "hiddenBorder")
        #end
        #if($velocityCount > $shownComments)
          <div class="togglable $commentClass" style="display: none">
        #else
          <div class="$commentClass">
        #end
          <div class="comment-header">
            <div class="comment-author pull-left">
              <a class="no-right-space" href="${request.contextPath}/users/$comment.author.id"
                 data-original-title="${esc.html(${messages.getString("label.tips.view_profile")})}">
                ${esc.html($comment.author.username)}
              </a>,
            </div>
            <div class="comment-buttons pull-left">
              <a class="comment-button" data-original-title="${messages.getString("label.edit.comment")}"><i class="icon-pencil"></i></a>&nbsp;
              <a class="comment-button" data-original-title="${messages.getString("label.delete.comment")}"><i class="icon-trash"></i></a>
            </div>
            ${dateTool.format($comment.creationDate, ${currentUser.language.locale})}
          </div>
          <div class="comment-body">
            ${esc.html($comment.body)}
          </div>
        </div>
      #end
    </div>
    #if($post.comments.size() > $shownComments)
      <div class="btn-container">
        <button type="button" class="expand togglable" style="display: block"><span>Show all comments</span></button>
        <button type="button" class="expand togglable" style="display: none"><span>Hide</span></button>
      </div>
    #end
  #end
  <div class="comment-prompt">
    <i class="icon-comment"></i>
    <span class="comment-prompt-label">Add your comment...</span>
  </div>
  <div class="comment-container">
    <textarea name="commentBody" class="comment-textarea" placeholder="Add your comment..." rows="3"></textarea>
    <div class="comment-buttons-container">
      <div class="pull-right">
        <a class="btn btn-primary comment-submit">Comment</a>
        <a class="btn comment-cancel">Cancel</a>
      </div>
    </div>
  </div>
#end