#*

Copyright (C) 2011  JTalks.org Team
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.
This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

*#
#parse("org/jtalks/jcommune/jcommune-plugin-api/web/templates/breadcrumb.vm")
#parse("org/jtalks/jcommune/jcommune-plugin-api/web/templates/bbeditor.vm")
<head>
  <meta name="description" content="${esc.html(${topicDto.topic.branch.name})}">
  <title>
    ${propertiesHolder.allPagesTitlePrefix}
    #if(!${result.hasErrors()})
      ${esc.html(${topicDto.topic.branch.name})} -
    #end
    #if(${edit})
      ${messages.getString("label.tips.edit.question")}
    #else
      ${messages.getString("label.addQuestion")}
    #end
  </title>
</head>
<body>
  <div class="container">
    #breadcrumb(${breadcrumbList})
    #if(${edit})
    <form action="${request.contextPath}/topics/question/${topicDto.topic.id}/edit"
          method="POST" id="topicDto" class="well anti-multipost submit-form" enctype="multipart/form-data">
    #else
      <form action="${request.contextPath}/topics/question/new?branchId=${topicDto.topic.branch.id}"
           method="POST" id="topicDto" class="well anti-multipost submit-form" enctype="multipart/form-data">
    #end
      #if(${topicDraft.lastSaved})
        <input id="topicDraftLastSavedMillis" type="hidden" value="${topicDraft.lastSaved.millis}"/>
      #end
      <input id="branchId" type="hidden" value="${topicDto.topic.branch.id}"/>
      <input id="topicType" type="hidden" value="${topicDto.topic.type}"/>
      <div class='control-group hide-on-preview'>
        <div class='controls'>
          #if(!${topicDto.topic.title})
            #set(${topicDto.topic.title} = "")
          #end
          #if(!${topicDto.bodyText})
            #set(${topicDto.bodyText} = "")
          #end
          <input name="topic.title" id="subject" type="text"  size="45"
            maxlength="255" tabindex="100"
            class="full-width script-confirm-unsaved" placeholder="${messages.getString("label.question")}"
            value="${esc.html(${topicDto.topic.title})}"/>
          #jtalksBinding(${result} "topic.title")
        </div>
      </div>
      #bbeditor(${messages.getString("label.ask")} "" "${esc.html(${topicDto.bodyText})}" "bodyText" true ${messages.getString("label.question.details")} ${result})
    </form>


</div>
<script>
    Utils.focusFirstEl('#subject');
</script>
</body>