#*

Copyright (C) 2011  JTalks.org Team
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.
This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

*#
#parse("org/jtalks/jcommune/jcommune-plugin-api/web/templates/topicActions.vm")
#parse("org/jtalks/jcommune/jcommune-plugin-api/web/templates/breadcrumb.vm")
#parse("org/jtalks/jcommune/plugin/questionsandanswers/template/comments.vm")
#parse("org/jtalks/jcommune/jcommune-plugin-api/web/templates/bbeditor.vm")
<head>
  <style>#include("org/jtalks/jcommune/plugin/questionsandanswers/template/css/question.css")</style>
  <script>#include("org/jtalks/jcommune/plugin/questionsandanswers/template/js/question.js")</script>
  <title>${esc.html("Question Tilte")}</title>
</head>
<body>
##IMPORTANT: now branch id hardcoded in should be replaced with ${question.branch.id}
  #set($targedId = 3)
  #set($canLeavePosts=false)
  #if((!${question.closed} || ${permissionTool.hasPermission($targedId.longValue(),"BRANCH","BranchPermission.CLOSE_TOPICS")})
  && ${permissionTool.hasPermission($targedId.longValue(),"BRANCH","BranchPermission.CREATE_POSTS")})
    #set($canLeavePosts=true)
  #end

<div class="container">
  <div id="branch-header">
    <h1>
      <a class="invisible-link" href="${request.contextPath}/topics/${question.id}">${esc.html(${question.title})}</a>
    </h1>

    <div id="right-block">
      #if(!${currentUser.anonymous})
        <span id="subscribe">
          <i class="icon-star"></i>
          #if(${subscribed})
            <a id="subscription" class="button top_button"
               href="${request.contextPath}/topics/${question.id}/unsubscribe"
               title="${messages.getString("label.unsubscribe.tooltip")}">
              ${esc.html(${messages.getString("label.unsubscribe")})}
            </a>
          #else
            <a id="subscription" class="button top_button"
               href="${request.contextPath}/topics/${question.id}/subscribe"
               title='${messages.getString("label.subscribe.tooltip")}'>
              $esc.html(${messages.getString("label.subscribe")})
            </a>
          #end
        </span>
      #end
    </div>
    <span class="inline-block"></span>
  </div>
  #breadcrumb(${breadcrumbList} ${currentUser.language.locale})
  #topicActions($targedId ${request} ${question} ${permissionTool})

  <div>
    #set($answersCount = ${postPage.getContent().size()} - 1)
    #foreach(${post} in ${postPage.content})
    ##dummy version. should be something like $votedUp = post.votersUp.contains(currentUser)
      #set($votedUp = false)
      #if($velocityCount == 2)
        #set($votedUp = true)
      #end
    ##dummy version. should be something like $votedDown = post.votersDown.contains(currentUser)
      #set($votedDown = false)
    ##dummy version. should be something like post.rating in future
      #set($voteUpClass = "vote-up-unpressed")
      #set($votedDownClass = "vote-down-unpressed")
      #if($votedUp)
        #set($voteUpClass = "vote-up-pressed")
        #set($votedDownClass = "")
      #elseif($votedDown)
        #set($votedDownClass = "vote-down-pressed")
        #set($voteUpClass = "")
      #end
      #set($rating = 2 - $velocityCount)
      #set($voteResultClass = "")
      #if($rating > 0)
        #set($voteResultClass = "positive")
      #elseif($rating < 0)
        #set($voteResultClass = "negative")
      #end
      #set($isFirstPost = false)
    ##dummy version. should be == 1 in future
      #if(${postPage.number} < 2 && $velocityCount == 1)
        #set($isFirstPost = true)
      #end
      #set($postClass = "")
      #if($isFirstPost)
        #set($postClass = "question")
      #else
        #set($postClass = "answer")
      #end
      #if($velocityCount == 2)
        <div id="answerCounter">
          <h3>${esc.html(${messages.getString("label.answers.count")})} $answersCount</h3>
        </div>
      #end
      <div class="post $postClass">
        <div class="anchor">
          <a id="${post.getId()}">anchor</a>
        </div>
        <div>
          <div class="question-left-panel pull-left">
            <div class="thumbnail wraptocenter">
              <img src="${request.contextPath}/users/${post.userCreated.id}/avatar" alt=""/>
            </div>
            <div class="question-votes">
              <div class="vote-up $voteUpClass"></div>
              <span class="vote-result $voteResultClass">$rating</span>
              <div class="vote-down $votedDownClass"></div>
            </div>
          </div>

          <div class="question-right-panel">
            <div class="question-header">

              <div class="question-author">
                <a class="post-userinfo-username"
                   href="${request.contextPath}/users/${post.userCreated.id}"
                   title="${esc.html(${messages.getString("label.tips.view_profile")})}">
                  ${esc.html(${post.userCreated.username})}
                </a>
              </div>
              #set($canAnswer = $isFirstPost && $canLeavePosts)
              #set($canEdit = false)
              #set($canDelete = false)
              #if(!${currentUser.anonymous})
                #if((${currentUser.id} == ${post.userCreated.id}
                && ${permissionTool.hasPermission($targedId.longValue(),"BRANCH","BranchPermission.EDIT_OWN_POSTS")})
                || (${currentUser.id} != ${post.userCreated.id}
                && ${permissionTool.hasPermission($targedId.longValue(),"BRANCH","BranchPermission.EDIT_OTHERS_POSTS")}))
                  #set($canEdit = true)
                #end
                #if((${currentUser.id} == ${post.userCreated.id}
                && ${permissionTool.hasPermission($targedId.longValue(),"BRANCH","BranchPermission.DELETE_OWN_POSTS")})
                ||(${currentUser.id} != ${post.userCreated.id}
                &&${permissionTool.hasPermission($targedId.longValue(),"BRANCH","BranchPermission.DELETE_OTHERS_POSTS")}))
                  #set($canDelete = true)
                #end
              #end
              <div class="btn-toolbar post-btn-toolbar pull-right">
                  #if($canAnswer || $canEdit || $canDelete)
                    <div class="btn-group question-btn-group">
                      #if($canAnswer)
                        <a href="/answer" data-rel=""
                           class="edit_button btn btn-mini"
                           title="${esc.html(${messages.getString("label.tips.answer")})}">
                          <i class="icon-pencil"></i>
                          ${esc.html(${messages.getString("label.answer")})}
                        </a>
                      #end
                        #if($canEdit)
                          <a href="/edit" data-rel=""
                             class="edit_button btn btn-mini" title="${esc.html(${messages.getString("label.tips.edit.$postClass")})}">
                            <i class="icon-edit"></i>
                            ${esc.html(${messages.getString("label.edit")})}
                          </a>
                        #end
                        #if($canDelete)
                          <a href="/delete" class="btn btn-mini btn-danger delete"
                             title="${esc.html(${messages.getString("label.tips.remove.$postClass")})}"
                             data-confirmationMessage="${esc.html(${messages.getString("label.confirm.delete.$postClass")})}">
                            <i class="icon-remove icon-white"></i>
                            ${esc.html(${messages.getString("label.delete")})}
                          </a>
                        #end
                    </div>
                  #end
                </div>
              <div class="question-date pull-right">
                <i class="icon-calendar"></i>
                <a href="${request.contextPath}/answers/${post.id}">
                  ${dateTool.format(${post.creationDate}, ${currentUser.language.locale})}
                </a>
              </div>

            </div>

            <div class="question-content" style="min-height: 0px">
              ${esc.html(${post.postContent})}
            </div>

            <div class="question-footer">
              <div class="comments" style="margin-left: 60px">
                #comments(${post} $canLeavePosts ${permissionTool} $targedId ${currentUser})
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    #end
  </div>
  #topicActions($targedId ${request} ${question} ${permissionTool})
  #if($canLeavePosts)
    <form action="/answer"
          method="POST" class='well anti-multipost submit-form' modelAttribute="postDto">
      <form path="topicId"/>
      #bbeditor(${messages.getString("label.answer")} ${currentUser.language.locale} "" "" "bodyText" true)
    </form>
  #end

  <div id="users-stats" class="well forum-user-stats-container">
    <strong>${esc.html(${messages.getString("permissions.moderators")})}</strong>
    <br/>
    <strong>${esc.html(${messages.getString("label.topic.now_browsing")})}</strong>
  </div>

  <form id="deleteForm" method="DELETE"/>

</div>
</body>