<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- Appenders -->
  <appender name="BULK" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="logs/bulk.log"/>
    <param name="Append" value="true"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
    <param name="Encoding" value="UTF-8"/>
    <layout class="org.apache.log4j.EnhancedPatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-16.16t][%30c] - %m%n"/>
    </layout>
  </appender>

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Encoding" value="Cp866"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-16.16t][%32.32c] - %m%n"/>
    </layout>
  </appender>

  <appender name="APPLICATION" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="logs/application.log"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="10"/>
    <param name="Encoding" value="UTF-8"/>
    <layout class="org.apache.log4j.EnhancedPatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-16.16t][%30c{-2}] - %m%n"/>
    </layout>
  </appender>

  <!-- Loggers -->
  <logger name="org.jtalks">
    <level value="DEBUG"/>
    <appender-ref ref="APPLICATION"/>
  </logger>

  <logger name="org.springframework" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="org.hibernate" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root>
    <priority value="INFO"/>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="BULK"/>
  </root>

</log4j:configuration>